* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 645px;
    background: #1F36AF;
    border-radius: 55px;
    border: 2px solid #89848B;
}

.sidebtn1leftside {
    position: absolute;
    top: 120px;
    left: -3px;
    width: 15px;
    height: 30px;
    background: #1F36AF;
    border-radius: 3px;
    border-left: 2px solid #89848B;

}

.sidebtn2leftside {
    position: absolute;
    top: 170px;
    left: -3px;
    width: 15px;
    height: 55px;
    background: #1F36AF;
    border-radius: 3px;
    border-left: 2px solid #89848B;

}

.sidebtn3leftside {
    position: absolute;
    top: 250px;
    left: -3px;
    width: 15px;
    height: 55px;
    background: #1F36AF;
    border-radius: 3px;
    border-left: 2px solid #89848B;

}

.sidebtnrightside {
    position: absolute;
    top: 190px;
    right: -3px;
    width: 15px;
    height: 70px;
    background: #1F36AF;
    border-radius: 3px;
    border-right: 2px solid #89848B;

}





.box-child {
    position: relative;
    width: 300px;
    height: 620px;
    background: #F5FBF1;
    border-radius: 45px;

}


.loginbox {
    width: 100%;
    height: 72%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 30px 20px 0 20px;
}


.loginbox h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #1F36AF;
    font-weight: 700;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;




}

.loginbox h3 {
    width: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #b5b3b4;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;

}

.inputBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.inputBox input {
    width: 100%;
    height: 35px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid gray;
    margin-top: 5px;
    background: white;
    border-radius: 20px;
}

input::placeholder {
    color: #888;
    opacity: 1;
    font-weight: 700;
}

input:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: none;
}

.inputwithlable label {
    font-weight:600;
    color: #1F36AF;
    font-size: 15px;
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-with-icon i {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}



.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}


.submitbtn {
    width: 100%;
    height: 3rem;
    padding-top: 2px;
    background-color: #1F36AF;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitbtn:hover {
    background-color: #0288d1;
}

.submitbtn:active {
    transform: scale(0.98);
}

.inputbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    color: #CBD0C9;
    font-weight: bold;
    margin: 0;
}

.checkboxwithtext {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3px;
    color: #1F36AF;
}

.forgettext {
    color: #1F36AF;

}


.bottomSignIn {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-top: 10px;
}

.signInborderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.signInborder {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}

.signInborder h3 {
    font-size: 10px;
}

.border1 {
    flex: 1;
    height: 2.5px;
    background-color: #ccc;
    opacity: 0.6;
}


.signInIcons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signInIcons img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    border-radius: 5px;

}

.social-btn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    color: #000;
    font-weight: bolder;
}

.signInIcons button {
    width: 90%;
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    color: #1F36AF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.2s ease;
}


.signuptext h3 {
    font-size: 12px;
    margin: 10px 0;
    font-weight: 600;
    gap: 10px;
    color: #666;
    font-family: 'Montserrat', sans-serif;

}

.singup {
    color: #1F36AF;
    font-weight: bolder;
}
@media (max-width: 425px) {
  
    .box-container{
        width: 300px;
    }
    .box-child {
        width: 280px;
    }
    .sidebtnrightside{
        right: -4px;
    }
}